<!DOCTYPE html>
<html lang="ko">
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="../../resources/css/poster.css" rel="stylesheet" type="text/css">
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
	</style>
</head>
	<body>
		<div class="contents">
		<!-- 1등 -->
			<h2>Ranking</h2>
			<div class="align">
				<div class="content">
					<div class="top">
						<!-- 이미지 -->
						<div class="img">
							<!-- 랭킹넘버링 -->
							<span class="ic_grade gr_12"></span>
						</div>
					</div>
					<div class="movi_title">
						<!-- 영화 제목 -->
						<a href="#"><strong class="title_info">Movie Title</strong></a>
					</div>
				</div>
		<!-- 2등 -->
			<div class="content">
					<div class="top">
						<!-- 이미지 -->
						<div class="img">
							<!-- 랭킹넘버링 -->
							<span class="ic_grade gr_12"></span>
						</div>
					</div>
					<div class="movi_title">
						<!-- 영화 제목 -->
						<a href="#"><strong class="title_info">Movie Title</strong></a>
					</div>
				</div>
		<!-- 3등 -->
			<div class="content">
					<div class="top">
						<!-- 이미지 -->
						<div class="img">
							<!-- 랭킹넘버링 -->
							<span class="ic_grade gr_12"></span>
						</div>
					</div>
					<div class="movi_title">
						<!-- 영화 제목 -->
						<a href="#"><strong class="title_info">Movie Title</strong></a>
					</div>
				</div>
		<!-- 4등 -->
			<div class="content">
					<div class="top">
						<!-- 이미지 -->
						<div class="img">
							<!-- 랭킹넘버링 -->
							<span class="ic_grade gr_12"></span>
						</div>
					</div>
					<div class="movi_title">
						<!-- 영화 제목 -->
						<a href="#"><strong class="title_info">Movie Title</strong></a>
					</div>
				</div>
		<!-- 5등 -->
			<div class="content">
				<div class="top">
					<!-- 이미지 -->
					<div class="img">
						<!-- 랭킹넘버링 -->
						<span class="ic_grade gr_12"></span>
					</div>
				</div>
				<div class="movi_title">
					<!-- 영화 제목 -->
					<a href="#"><strong class="title_info">Movie Title</strong></a>
				</div>
			</div>
		</div>
			
		</div>
	</body>
</html>